* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

nav {
  position: -webkit- sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #358597;
  min-height: 8vh;
}

.logo {
  color: white;
}

nav ul {
  color: white;
  list-style: none;
  display: flex;
  width: 35vw;
  justify-content: space-around;
  text-decoration: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header-page {
  text-align: center;
  text-justify: center;
}

.content-page {
  justify-items: center;
}

#landing-page {
  background-color: rgb(176, 176, 176);
}
