.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.feedback{
  width: 100%;
}

.caption-left{
  margin-top: 10px;
  text-align: left;
}

.caption-centered{
  margin-top: 10px;
  text-align: center;
}


#full-back{
  width: 100%;
  background: black;
}
